header {
    background-color: #1e90ff;
    color: rgba(0, 0, 0, 0.3);                
    margin: 20px;
    padding: 20px;
    border: 2px solid #104e8b;
}

main {
    background-color: #f0f8ff; 
    color: #000000;            
    margin: 20px;
    padding: 20px;
    border: 2px solid #87cefa; 
}

footer {
    background-color: #333333;   
    color: #ffffff;            
    margin: 20px;
    padding: 20px;
    border: 2px solid #444444;   
}

h2 {
    font-size: 1.8em;
    text-decoration: underline;
}

.destaque {
    font-style: italic;
    background-color: #dcffdd;
}

#importante {
    border-top: 4px solid #ff4500;
}
